<div class="body">
  <div class="left-body">
    <div class="left-container">  
      <h1> Contact Us! </h1>
      <p> Email: tmsang2000@gmail.com </p>
      <p> Github: tmsang2000 </p>
      <p> Address: No. 10, St. 5, Cat Lai ward, Thu Duc city </p>
      <p> Phone: +84. 909419497 </p>
    </div>
  </div>
  <div class="right-body">
    <form>
      <div class="field">
        <label> Name </label>
        <input type="text" name="name" id="name" [(ngModel)]="name">
      </div>

      <div class="field">
        <label> Email </label>
        <input type="email" name="email" id="email" [(ngModel)]="email">
      </div>

      <div class="field">
        <label> Phone </label>
        <input type="tel" name="phone" id="phone" [(ngModel)]="phone">
      </div>

      <div class="message">
        <label> Message </label>
        <textarea type="text" name="message" id="message" [(ngModel)]="message"> </textarea>
      </div>

      <div class="btn">
        <button type="submit" class="submit-btn" (click)="submitForm">
          Send!
        </button>
      </div>
      
    </form>
  </div>
  
</div>