<div class="header">
    <div class="header-left"></div>
    <div class="header-center">
        <a routerLink="/"> Home </a>
        <a routerLink="/about-us"> About Us </a>
        <a routerLink="/our-clients"> Our Clients </a>
        <a routerLink="/contact-us"> Contact Us </a>
    </div>
    <div class="header-right">
        <div class="header-right-icon" routerLink="/products">
            <mat-icon class="shopping-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon"> shopping_cart </mat-icon>
            <p> Products </p>
        </div>
    </div>
</div>
