.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 80, 0);
}
.header-center {
    display: flex;
    align-items: center;
}
.header-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-left {
    flex: 1
}
.header-center a {
    margin: 0px 20px 0px 20px;
    font-size: 24px;
    color: white;
    height: fit-content;
    cursor: pointer;
    text-decoration: none;
}
.header-center a:hover {
    color: gray;
}
.header-right-icon {
    height: 32px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    user-select: none;
}
.header-right-icon p {
    margin: 0px;
    margin-right: 5px;
}
.header-right-icon mat-icon {
    color: rgb(0, 80, 0);
    margin-left: 5px;
    margin-right: 5px;
}
.header-right-icon:hover {
    background-color: gray;
    padding: 5px;
    cursor: pointer;
}