<div class="products-container">
    <div class="products-header">
        <h1> Products </h1>
    </div>
    <div class="menu">
        <div class="menu-option">
            <div (click)="onChangeType(0)"> Dog </div>
            <div (click)="onChangeType(1)"> Cat </div>
            <div (click)="onChangeType(2)"> Other </div>
        </div>
        <div class="menu-action">
            <div routerLink="/add-product">
                <mat-icon class="add-icon"> add </mat-icon>
                <p> Add </p>
            </div>
        </div>
    </div>
    <div class="products-body">
        <div *ngFor="let i of list">
            <app-card [routerLink]="['/products', i.id]" class="product" *ngIf="type == i.type && i" [data]="i" (iconClick)="updateLike(i)"></app-card>
        </div>
    </div>
</div>
