<div class="body">
    <div class="left-body">
      <div class="box">
        <p>
          Ho Chi Minh Univerity of Technology
        </p>
      </div>
      <div class="box">
        <p>
          Bach Khoa Innovation
        </p>
      </div>
      <div class="box">
        <p>
          Multi-disciplinary Project
        </p>
      </div>
    </div>
    <div class="right-body">
      <h1>
        Ho Chi Minh Univerity of Technology
      </h1>
      <p>
        Social event management Website
      </p>
      <a href="http://oispyouthunion.vn" target="_blank">
        Link: http://oispyouthunion.vn
      </a>
      <p>
        BK-OS (Union and event management application)
      </p>
    </div>
</div>